.toplinks {
  display: flex;
  flex-direction: row;
  column-gap: 8px;

  margin-top: 12px;
  padding: 4px;

  border-radius: 8px;
  box-shadow: inset 0 0 0 1px #ddd;

  .linkItem {
    cursor: pointer;

    display: flex;
    flex-direction: row;
    align-items: center;

    height: 22px;
    padding: 2px 4px;

    font-size: 14px;

    background-color: #ddd;
    border-radius: 4px;

    .linkItemIcon {
      display: block;
      width: 16px;
      height: 16px;
    }

    .linkItemText {
      margin-left: 4px;
    }
  }
}
